@page
@model ClinicRazorWebApp.Pages.UserModel
@{
    ViewData["Title"] = "User page";
    var users = Model.Users;
}
h1 class="text-center">
    User Management
</h1>
<div class="row">
    <div class="col-md-12 text-end">
        <button type="button" class="btn btn-primary" onclick="add();">
            Add
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="card-header">
                    <th class="card-title text-center">UserID</th>
                    <th class="card-title text-center">RoleID</th>
                    <th class="card-title text-center">Username</th>
                    <th class="card-title text-center">Password</th>
                    <th class="card-title text-center">IsActive</th>
                    <th class="card-title text-center"></th>
                </tr>
            </thead>
            <tbody class="tblcurrencyList">
                @if (users.Count > 0)
                {
                    foreach (var user in users)
                    {
                        <tr>
                            <td>@user.UserId</td>
                            <td>@user.RoleId</td>
                            <td>@user.Username</td>
                            <td>@user.Password</td>
                            <td>@user.IsActive</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="currencyModal" tabindex="-1" aria-labelledby="currencyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "frm", id = "frm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title" id="currencyModalLabel">currency Transaction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="currencyModalContent"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <label for="1">UserId</label>
                                    <input asp-for="User.UserId" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">RoleId</label>
                                    <input asp-for="User.RoleId" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">Username</label>
                                    <input asp-for="User.Username" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">Password</label>
                                    <input asp-for="User.Password" class="form-control" />
                                </div>
                                <div class="col-md-6">
                                    <label for="1">IsActive</label>
                                    <input asp-for="User.IsActive" class="form-control" />
                                </div>

                                @* <div class="col-md-6">
                            <label for="1">Code</label>
                            @Html.EditorFor(m => m.Currency.NationCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div> *@
                                @* <div class="col-md-6">
                            <label for="1">Active</label>
                            @Html.CheckBoxFor(m => m.Currency.IsActive.Value, new { htmlAttributes = new { @class = "form-check-input" } })
                            </div> *@
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                @* <div class="col-md-6">
                            <label for="1">Name</label>
                            @Html.EditorFor(m => m.Currency.CurrencyName, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-md-6">
                            <label for="1">Nation</label>
                            @Html.EditorFor(m => m.Currency.NationCode, new { htmlAttributes = new { @class = "form-control" } })
                            </div> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btSave" type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

