@page
@model ClinicRazorWebApp.Pages.ClinicPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success" style="color: #33FF66">
        @TempData["Message"]
    </div>
}


@if (Model.Clinic != null && Model.Clinic.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic[0].ClinicName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic[0].ClinicImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Clinic[0].ClinicDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Clinic)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClinicName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClinicDescription)
                    </td>
                    <td>
                        <img src="@item.ClinicImage" alt="Clinic Image" style="width:100px;height:100px;">
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ClinicId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ClinicId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ClinicId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger" style="color: red">
        Can't find product!
    </div>
}
<script>
    $(function)
</script>