@page
@model ClinicRazorWebApp.Pages.ClinicUpdatePage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.ClinicName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.ClinicName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.ClinicImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.ClinicImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.ClinicDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.ClinicDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.OpenTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.OpenTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.CloseTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.CloseTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clinic.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clinic.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Clinic?.ClinicId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
